[defaults]
inventory          = inventory/hosts.yml
roles_path         = roles
vault_password_file = ~/.bitsalt_vault_pass
host_key_checking  = True
stdout_callback    = yaml
callbacks_enabled  = timer

[ssh_connection]
pipelining         = True                      # speeds up playbook runs significantly
ssh_args           = -o ControlMaster=auto -o ControlPersist=60s
